<div style="text-align: center;">
  <div><h1>Digit Classifier</h1></div>

  <div style="padding-top: 20px;">
    <form>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style="padding-right: 10px;">
          <div>
            <mat-form-field style="width: 200px;" appearance="fill" class="file-input-container">
              <mat-label>Image</mat-label>
              <input type="text" matInput [value]="selectedFileName" placeholder="No file chosen" readonly>
              <button mat-icon-button matSuffix (click)="fileInput.click()">
                <mat-icon>folder_open</mat-icon>
              </button>
              <input type="file" #fileInput (change)="onFileSelected($event)" hidden accept="image/*">
            </mat-form-field>
          </div>
          <div>
            <mat-label style="font-weight: bold;">Classification</mat-label>
            <div style="display: flex; justify-content: center; padding-top: 10px;">
              <mat-card class="box-card">
                <div class="box-content">
                  {{this.imageClassification}}
                </div>
              </mat-card>
            </div>
            
          </div>
        </div>
        <div style="padding-left: 10px;">
          <div *ngIf="imagePreview">
            <img [src]="imagePreview" alt="Image preview" width="200" height="200" style="border: 1px solid black;">
          </div>
          <div *ngIf="!imagePreview">
            <img style="border: 1px solid black;" width="200" height="200" />
          </div>
        </div>
      </div>
      
      <div style="text-align: center; padding-top: 10px; padding-bottom: 20px;"><button mat-raised-button color="primary" type="submit" style="width: 420px;" (click)="this.classifyDigit()">SUBMIT</button></div>
    </form>
  </div>
</div>